@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
:root{
  --Bg-color: #1d1d1d;
}
body {
  background: var(--Bg-color);
  /* SI GANAS backgroundColor = "#4f9e37" */
  /* SI PIERDES backgroundColor = "#de3d3d" */
  color: white;
  font-size: 120%;
}
#title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}
.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perso {
  background-color: var(--Bg-color);
  color: var(--Bg-color);
}
.rayas {
  font-size: 2em;
  cursor: default;
  text-transform: capitalize;
  margin: 0 auto;
}
.btnyinput{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  width: 50px;
  height: 50px;
  margin-left: 50px;
  border-radius:5px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  height: 60px;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 2em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
}
.btn:hover {
  text-shadow: 0px 5px 15px #000;
  background-color: #999;
  transition: 0.5s;
}
.again{
  position: absolute;
  visibility: hidden;
}
.letrasUsadas{
  background-color: var(--Bg-color);
  margin-top: 20px;
  height: 90px;
  width: 360px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

}
.letrasUsadas:hover{
  background-color: #fff;
  color: #1d1d1d;
  transition: 0.5s
}
.score{
  font-size: 1.3em;
  margin: 0 auto;
  cursor: default;
}

.letrero{
  position: relative;
  bottom: 0px;
  font-size: 2.3em;
  cursor: default;
  margin: 0 auto;
}
/* @media screen and (min-width: 321px) and (max-width: 900px) {
  body{
    font-size: 200px
  }
  .rayas {
    font-size: 2em;
    cursor: default;
    text-transform: capitalize;
  }
  .btnyinput{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    border-radius:5px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
  }
  .btn {
    height: 60px;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: 2em;
    font-family: inherit;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
  }
  .btn:hover {
    text-shadow: 0px 5px 15px #000;
    background-color: #999;
    transition: 0.5s;
  }
  .again{
    position: absolute;
    visibility: hidden;
  }
  .letrasUsadas{
    background-color: var(--Bg-color);
    margin-top: 20px;
    height: 90px;
    width: 360px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

  }
  .letrasUsadas:hover{
    background-color: #fff;
    color: #1d1d1d;
    transition: 0.5s
  }
  .score{
    font-size: 1.3em;
    margin: 0 auto;
    cursor: default;
  }

  .letrero{
    position: relative;
    bottom: 0px;
    font-size: 2.3em;
    cursor: default;
    margin: 0 auto;
  }
} */






















.
